*{
    margin: 0;
    padding: 0;
}

body{
    padding: 30px 50px;
    background-image: url(assets/3d-model-residential-building.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.main{margin: 0;
    padding: 0;
}
.logo{
    height: 100px;
    width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.holer{
    flex-direction: row;
    /* height: main-center; */
    width: 100%;
    /* gap: 250px;  */
    /* text-align: center; */
    display: flex;
    /* padding: 26px; */
}    

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute; /* or use fixed if you want it to stay while scrolling */
    top: 0;
    right: 0;
    display: flex; /* displays items horizontally */
    gap: 200px; /* space between items */
    background-color: transparent; /* or any background you want */
    padding: 10px 20px;
  }
  
  li a {
    text-decoration: none;
    color:orange;
    font-weight: 800px;
  }
  .search-box{
    width: 300px; 
    height: 20px;         
    padding: 10px 15px;    
    border: 1px solid #ccc;
    border-radius: 25px;   
    font-size: 16px;
    outline: none;         
    transition: 0.3s ease;
  }
  .search-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    padding-left: 50px;
    
  }
  .place{
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh;
     
  }
  .wrapper{
    width: 520px;
    height: 400px;
    background-color: transparent;
    border: 2px solid rgb(255,255,255,.2);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
  }

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

  .wrapper h1{
    font-size: 200%;
    text-align: center;
    justify-content: center;
  }
  .wrapper .input-box{
    position: relative;
    width: 93%;
    height: 50px;
    margin: 30px 0;
    
  }
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255,255,255,.2);
  border-radius: 40px;
  font-size: 18px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color:#fff;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}
.wrapper .remeber-forget{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;

}
.remember-forgot label input{
  accent-color: #fff;
  margin: 10px;
}
.remember-forgot a{
  color: #fff;
  text-decoration: none;
}
.remeber-forget a:hover{
  text-decoration: underline;

}
.wrapper .btn{
  width: 80%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 800;
 
.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  
}
.register-link p a:hover{
  text-decoration: underline;

}

