*{
    margin: 0;
    padding: 0;
}
.main{
    margin: 0;
    padding: 0;
}
.holder{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 250px;
    background-color: #00566e;
    text-align: center;
    height: min-center;
    width: 100%;
    padding: 26px;
}
.logo{
    color: red;
    font-size: 25;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;

}
ul{
   flex-direction: row;
   display: flex;
   gap: 70px; 
}
li{
    list-style: none;

}
a{
    color: white;
    font-weight: 800;
    text-decoration: none;
}
a:hover{
    color: black;
}
.section{
    padding-top: 40px;

}
input{
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid blue;
    margin-top: ;
}